<!DOCTYPE html>
<html>
<head>
    <title>Subscription Response</title>
</head>
<body>
    <h1>Subscription Created successfully</h1>
    <pre><%= JSON.stringify(response, null, 2) %></pre>
    <br>
    <hr>
    <a href="/home"><button>Go to Home</button></a>
</body>
</html>